 <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">

            <div class="post-single">
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category"><a href="#">Tags</a>, <a href="#">Another</a></div>
                </div>
                <h1> Puerto Rico has it all!<a href="#"><i class="fa fa-bookmark-o far fa-bookmark"></i></a></h1>

                
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                  <a href="/" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="/img/avatar-1.jpg" alt="..." class="img-fluid"></div>
                    <div class="title"><span> Milly Rock</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock far fa-clock"></i></div>
                    <div class="comments meta-last"><i class="icon-comment far fa-comment-alt"></i></div>
                  </div>
                </div>
                <div class="post-body">
                  <p class="lead">We are dedicated to showing you that Puerto Rico is a beautiful place that needs to be at the top of your travel list. Whether you are looking for grand, all inclusive resorts or an out of the way or budget friendly experience, this little island is packed with adventures for all types and budgets!</p>
  <h3>Welcome to Puerto Rico!</h3>
  <p>Our love for this little island is evident as we guide you through all the cute beaches, the forest, the livlely nightlife and all the adventures we can find. We also round up all the delicious food and drink we can eat! All to show you why you need to join us!</p>
  <p><img src="img/pr-onpalmtree.jpg" alt="..." class="img-fluid"></p>
  <blockquote class="blockquote">
    <p>But if you want more than just a beach, Puerto Rico has it all. If you’re visiting for just a few days, like I was, you can easily fit in beach time, adventure time, culture time, and yes, even hanging-out-at-the-pool time.</p>
    <footer class="blockquote-footer">Kate McCulley,
      <cite title="Source Title">AdventurousKate.com</cite>
    </footer>
  </blockquote>
  <p>Fans of wildlife flock to the island’s bird sanctuaries and turtle-nesting sites for a glimpse of rare fauna. The island also draws hikers, scuba divers, nature photographers and regular beach-goers. Some of the beaches are even protected as Marine Wildlife Reserves.</p>
  <p>The blog is growing day by day and if you happen to visit please rop us a line or create an account to contribute your experience and photos on the blog! New posts daily!</p>


                </div>

              </div>
            </div>
          </div>
        </main>
