<div class="container">
    <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8"> 
        <div class="container">
        <div class="post-single">
            <div class="post-details">
            <h1> Welcome back!<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
            <p>Please sign in.</p>
            <div class="post-body">
    <blockquote class="blockquote">
        <form action="/login" method="post">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="Go">
        </form>
        <br><br>
        <h6>Don't have an account? <a href="/signup">Sign Up</a></h6>
    </blockquote> 
            </div>
            </div>
        </div>
        </div>
    </main>

