<p>Book your stay at El Conquistador Resort, a Waldorf Astoria Resort that offers five unique villages, each with panoramic views of ocean waters. The resort has a whopping 20 restaurants, serving everything from seafood delicacies to Pan-Asian delights to wraps and salads.</p>
<p>Facilities include a golf course, marina, spa, tennis courts, pools, water park, and a wide variety of bars. The resort also has its own private island- Palomino Island- just off the east coast of Puerto Rico.</p>


<p>Be sure to book an excursion out to Bio Bay to witness one of the most beautiful natural phenomenons on Earth. Bio Bay is home to millions of bioluminescent organisms, which emit bluish light when agitated, and are quite stunning against the backdrop of the black Caribbean sea at night.</p>
<p>Tours leave in the early evening with a qualified instructor, so kayak your way through mangrove channels to the glowing waters!</p>


<p>Hop a short flight (or a longer, but cheaper, ferry ride) to Culebra Island, seventeen miles east of the Puerto Rico mainland. Culebra coaxes visitors from all over due to its beautiful beaches and nature reserves. Once you’ve arrived, rent a gold cart and explore!</p>

<p>The two must-see beaches on Culbera are Flamenco and Tamarindo, and make sure to grab a drink at Mamacita’s!</p>



=====


















Breakfast and Coffee at Caficultura

<p>While on your stroll through the Old Town, don’t forget to stop by for breakfast at Caficultura. This fun, casual diner is a great spot to pick up brunch and coffee.</p>

<p>Just take a look at the menu: veggie scramble, crepes with goat cheese, coconut French toast with pineapple marmalade—and don’t get me started on the banana rum pancakes!</p>

/img/pr-popsicle.jpg


===========================


Visit El Morro

<p>The Castillo San Felipe del Morro, aka El Morro, is a 400-year-old fort in the old town. Built from 1539 to 1787, this impressive peace of Spanish colonial defense served as Spain’s control point over most of the Caribbean.</p>

<p>Over the centuries, it’s suffered attacks from the English, Dutch and America—but still stands as a symbol of pride for Puerto Rico.</p>>

<p>Take a few hours to truly explore this fortress— the lighthouse, the many garitas (wall-mounted turrets or sentry boxes), the Cannon Water Battery, and the Old Tower— all perfect settings for a fun photoshoot.</p>


/img/pr-elmorro.jpg