
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">

            <div class="post-single">
              
              <div class="post-details">
                
                <h1> Welcome!<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>

                
                
                <div class="post-body">
                <p>Please complete all fields to setup your new account.</p>
                  <blockquote class="blockquote">
                    <form action="/signup" method="post">
                        <p>Username: <input type="text" name="username" id="username" placeholder="Username"></p>
                        <p>Password: <input type="password" name="password" id="password" placeholder="Password"></p>
                        <p>Name: <input type="text" name="username" id="username" placeholder="Name"></p>
                        <p>E-mail: <input type="text" name="username" id="username" placeholder="E-mail"></p>
                        <p>Birthday: <input type="text" name="username" id="username" placeholder=" MM/DD "></p>

                        <p><input type="submit" value="Go"></p>
                    </form>
                    <br><br>
                    <h6>Already have an account? <a href="/login">Log In</a></h6>
                    </blockquote> 
                </div>

              </div>
            </div>
          </div>
        </main>

