<!-- TEMPLATE FOR EACH INDIVIDUAL BLOG POST -->
<!-- THIS IS A PLACEHOLDER, WILL HAV TO CREATE VARIABLES TO -->
<!-- PULL SPECIFIC INFO TO DISPLAY FOR EACH POST IN THE BLOG -->
@specific_post

<div class="post-thumbnail"><img src="img/blog-post-3.jpeg" alt="..." class="img-fluid"></div>
  <!-- BLOG POST DETAILS: TITLE, AUTHOR, TAGS, DATE, PIC, POST TIME/DATE, VIEWS/COMMENTS, ETC -->
  <div class="post-details">
    <div class="post-meta d-flex justify-content-between">
      <div class="category"><a href="#">Business</a><a href="#">Financial</a></div>
    </div>
    <h1><%= @specific_post.title %>><a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
    <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
        <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid"></div>
        <div class="title"><span><%=@specific_post.user_id.name%>></span></div></a>
        <div class="d-flex align-items-center flex-wrap">       
        <div class="date"><i class="far fa-clock"></i> 2 days ago</div>
        <div class="views"><i class="far fa-eye"></i> 348</div>
        <div class="comments"><i class="far fa-comment-alt"></i> 4</div>
      </div>
    </div>
    <!-- BLOG POST FOR ACTUAL CONTENT -->
    <div class="post-body">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p> <img src="img/featured-pic-3.jpeg" alt="..." class="img-fluid"></p>
      <h3>Lorem Ipsum Dolor</h3>
      <p>div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda temporibus iusto voluptates deleniti similique rerum ducimus sint ex odio saepe. Sapiente quae pariatur ratione quis perspiciatis deleniti accusantium</p>
      <blockquote class="blockquote">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <footer class="blockquote-footer">Someone famous in
          <cite title="Source Title">Source Title</cite>
        </footer>
      </blockquote>
      <p>quasi nam. Libero dicta eum recusandae, commodi, ad, autem at ea iusto numquam veritatis, officiis. Accusantium optio minus, voluptatem? Quia reprehenderit, veniam quibusdam provident, fugit iusto ullam voluptas neque soluta adipisci ad.</p>
    </div>
    <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#" class="tag">#Tricks</a><a href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div>