<!-- TEMPLATE FOR EACH INDIVIDUAL BLOG POST -->
<!-- THIS IS A PLACEHOLDER, WILL HAV TO CREATE VARIABLES TO -->
<!-- PULL SPECIFIC INFO TO DISPLAY FOR EACH POST IN THE BLOG -->


<!-- THIS IS COMPLETE -->
<div class="post col-xl-6">
<h1> <%= @specific_post.title%></h1>
<div class="post-details">
    <div class="post-meta d-flex justify-content-between">
    </div>
  
  <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
      <a href="#" class="author d-flex align-items-center flex-wrap">
      <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid"></div>
      <div class="title"><span>John Doe</span></div></a>
      <div class="d-flex align-items-center flex-wrap">       
        <div class="date"><i class="icon-clock"></i> 2 months ago</div>
        <div class="views"><i class="icon-eye"></i> 500</div>
        <div class="comments meta-last"><i class="icon-comment"></i>12</div>
      </div>
    </div>


  <div class="post-body">
    <p> <%= @specific_post.content %></p>
</div>

<div class="post-body">
      <p class="lead"> <%= @specific_post.content %></p>
                  <p> <%= @specific_post.content %></p>
                </div>